body {
    background-color: white;
    background-image: url('../images/isheta.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
}

#no-button {
    margin: 0 10px;
    color: white;
    background-color: red;
    height: 40px !important;
    width: auto;
    border: none;
    cursor: pointer;
    margin-top: 10px;

    p {
        margin: 0;
        object-fit: contain;
    }
}

#yes-button {
    margin: 0 10px;
    color: white;
    border: none;
    background-color: green;
    cursor: pointer;
    height: 40px;

    p {
        margin: 0;
        object-fit: contain;
    }
}

/* Make responsive for mobile */
@media (max-width: 768px) {
    body {
        padding: 0 20px;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.message {
    display: none;
}

.banner-gif {
    width: 100%;
    height: auto;
    margin-top: 20px;

    img {
        width: auto;
        height: 250px;
    }
}

.language-selector {
    margin-top: 30px;
    position: unset;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.language-selector label {
    margin-right: 10px;
}

.language-selector select {
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 16px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
}

.creator {
    text-decoration: none;
    color: white;
}

.creator:visited {
    text-decoration: none;
    color: white;
}

.creator:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.9);
}

/* CSS For Mobile */
@media (max-width: 768px) {
    .language-selector {
        position: unset;
        margin-top: 30px;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}